body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

/* header */
header {
    background-color: #F4F1EA;
    padding: 1rem 10px;
}
header span {
    color: #252525;
    font-size: 1.6rem;
    font-weight: 700;
}


/* navigation */
nav {
    background-color: #820000;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
}

nav li.active a {
    background-color: white;
    color: #820000;
}

nav li a:hover {
    color: #252525;
}

/* main stuff here */
main{
   padding: 1rem 10px; 
}

main h1 {
    color: #A6A6A6;
}
main h2 {
    color: #252525;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol{
    padding: .5rem 30px;
    background-color: #F4F1EA;
}
main dl dt {
    color: #A6A6A6;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color:#252525;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 300%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong{
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #820000;
    padding: .5rem;
    width: 175px;
}
main a {
    color: #252525;
}
main a:hover {
    color: rgb(180, 4, 18);
}


/* footer */
footer {
    border-radius: 10px;
    border: 3px solid #820000;
    background-color: #F4F1EA;
    text-align: center;
    padding: 1rem 0px;
}
footer p {
    margin: 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}